@using leiloes;
@model IEnumerable<leiloes.Models.Utilizador>

<!-- VIEW PROVISÓRIA - SÓ PARA TESTAR -->

<h2>Lista de Leiloes</h2>



<table>
    <tr>
        <th>Nif</th>
        <th>Nome</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>UserType</th>
        <th>Saldo</th>
    </tr>

    @foreach (var utilizador in Model)
    {
        <tr>
            <td>@utilizador.Nif</td>
            <td>@utilizador.Nome</td>
            <td>@utilizador.Username</td>
            <td>@utilizador.Email</td>
            <td>@utilizador.Password</td>
            <td>@utilizador.UserType</td>
            <td>@utilizador.Saldo</td>
        </tr>
    }
</table>

