@page "/leilao/{LeilaoId}"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<Leilao> Logger

@using blazor.Models

<h1>Detalhes do Leilão</h1>
@if (response == null)
    {<p><em>Carregando detalhes do leilão...</em></p>}
else
{
    <div>
        <ul>
            <li>ID: @response.IdLeilao</li>
            <li>Lance Atual: @response.LicitacaoAtual</li>
            <li>Preço Mínimo: @response.PrecoMinLicitacao</li>
            <li>Status: @response.Estado</li>
            <li>Data de Início: @response.DataInicial</li>
            <li>Data Final: @response.DataFinal</li>
            <li>ID do Criador: @response.CriadorId</li>
            <li>ID do Produto: @response.ProdutoId</li>
        </ul>
    </div>
    <button @onclick="GoBack">Página Inicial</button>
}

@code {
    [Parameter]
    public string LeilaoId { get; set; }

    private HttpClient httpClient;
    private LeilaoModel response;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");
            response = await httpClient.GetFromJsonAsync<LeilaoModel>($"api/leilao/{LeilaoId}");
        }
        catch (HttpRequestException e) {Logger.LogError($"{e.Message}");}
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/paginicial");
    }
}
