@page "/perfil"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<Perfil> Logger
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using System.IdentityModel.Tokens.Jwt;
@using blazor.Models


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc; 
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    ul {
        list-style-type: none; 
        padding: 0;
    }

    li {
        margin-bottom: 10px; 
    }

    .leilao-button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 5px auto; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block; 
    }

        .leilao-button:hover {
            background-color: #0056b3; 
        }

    button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block; 
        margin: 10px auto; 
    }

        button:hover {
            background-color: #0056b3; 
        }
</style>


<!-- HTML -->
<body>
    <h1>Perfil</h1>
    @if (user == null)
    {
        <p><em>A carregar...</em></p>
    }
    else
    {
        <div>
            <ul>
                <li>Nome: @user.Nome</li>
                <li>Email: @user.Email</li>
                <li>Nome de Utilizador: @user.Username</li>
                <li>Saldo: @user.Saldo</li>
            </ul>
        </div>

        <div>
            @foreach (var leilao in leiloes)
            {
                <button @onclick="() => NavigateToLeilao(leilao.LeilaoId)" class="leilao-button">
                    @leilao.LeilaoId - @leilao.NomeItem - @leilao.ValorAtualLicitacao
                </button>
            }
        </div>

        <button @onclick="AdicionarSaldo">Adicionar Saldo</button>
        <button @onclick="GoBack">Página Inicial</button>
    }
</body>


<!-- C# -->
@code {
    private HttpClient httpClient;
    private UtilizadorModel user;
    private IEnumerable<LeilaoSimplesModel> leiloes;
    private String nif;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");

            nif = await SharedMethods.GetNifFromToken(LocalStorage);
            user = await httpClient.GetFromJsonAsync<UtilizadorModel>($"api/utilizador/{nif}");
            leiloes = await httpClient.GetFromJsonAsync<IEnumerable<LeilaoSimplesModel>>($"api/leilao/leiloesUser/{nif}");
        }
        catch (HttpRequestException e) {Logger.LogError($"{e.Message}");}
    }

    private void NavigateToLeilao(int leilaoId)
    {
        NavigationManager.NavigateTo($"/leilao/{leilaoId}");
    }
    private void AdicionarSaldo()
    {
        NavigationManager.NavigateTo("/adicionarSaldo");
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/Paginicial");
    }
}
