@page "/register"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@using blazor.Models


<h3>Registo</h3>

<EditForm Model="@utilizadorModel" OnValidSubmit="@HandleRegister">
    <div>
        <label for="nif">NIF:</label>
        <InputText @bind-Value="@utilizadorModel.Nif" id="nif" />
    </div>
    <div>
        <label for="nome">Nome:</label>
        <InputText @bind-Value="@utilizadorModel.Nome" id="nome" />
    </div>
    <div>
        <label for="email">Email:</label>
        <InputText @bind-Value="@utilizadorModel.Email" id="email" />
    </div>
    <div>
        <label for="username">Nome de Usuário:</label>
        <InputText @bind-Value="@utilizadorModel.Username" id="username" />
    </div>
    <div>
        <label for="password">Senha:</label>
        <InputText @bind-Value="@utilizadorModel.Password" id="password" type="password" />
    </div>
    <div>
        <label for="userType">Tipo de Usuário:</label>
        <InputNumber @bind-Value="@utilizadorModel.UserType" id="userType" />
    </div>
    <div>
        <label for="saldo">Saldo:</label>
        <InputNumber @bind-Value="@utilizadorModel.Saldo" id="saldo" step="0.01" />
    </div>
    <button type="submit">Registar</button>
</EditForm>
<br>
<button @onclick="GoBack">Voltar</button>


@code {
    private UtilizadorModel utilizadorModel = new UtilizadorModel();
    private HttpClient httpClient;

    protected override void OnInitialized()
    {
        httpClient = HttpClientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7295");
    }

    private async Task HandleRegister()

    {
        var response = await httpClient.PostAsJsonAsync("api/utilizador/create", utilizadorModel);
        if (response.IsSuccessStatusCode)
        {
            // Registo bem-sucedido
            NavigationManager.NavigateTo("/paginicial");
        }
        else
        {
            // Erro no registo
            NavigationManager.NavigateTo("/registerError");
        }
    }

    // Voltar
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}
