@page "/stats/{nif}"
@inject HttpClient Http
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

@using blazor.Models 
@using System.Net.Http.Json


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc; 
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    ul {
        list-style-type: none; 
        padding: 0;
    }

    li {
        margin-bottom: 10px; 
    }

    h4 {
        color: #007BFF; 
        margin-top: 20px;
    }

    div {
        margin-bottom: 20px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        margin: 10px auto;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>


<!-- HTML -->
<body>
    <h3>Estatísticas</h3>

    @if (estatisticas == null)
    {
        <p><em>A carregar...</em></p>
    }
    else
    {
        <div>
            <h4>Últimos 10 Leilões</h4>
            <ul>
                @foreach (var leilao in estatisticas.UltimosDezLeiloes)
                {
                    <li>@leilao.Nome - @leilao.ValorFinal</li>
                }
            </ul>
        </div>
        <div>
            <h4>10 Maiores Vendas</h4>
            <ul>
                @foreach (var venda in estatisticas.DezMaioresVendas)
                {
                    <li>@venda.Nome - @venda.ValorFinal</li>
                }
            </ul>
        </div>
        <div>
            <p>Total de Vendas: @estatisticas.TotalVendas</p>
            <p>Total em Dinheiro: @estatisticas.TotalDinheiro</p>
        </div>
        <button @onclick="GoBack">Página Inicial</button>
    }
</body>


<!-- C# -->
@code {
    [Parameter]
    public string nif { get; set; }
    private LeilaoViewModel estatisticas; 
    private HttpClient httpClient;

    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7295");
        estatisticas = await httpClient.GetFromJsonAsync<LeilaoViewModel>($"api/stats/{nif}");
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/Paginicial");
    }

    public class LeilaoViewModel
    {
        public List<LeilaoDetalhe> UltimosDezLeiloes { get; set; }
        public List<LeilaoDetalhe> DezMaioresVendas { get; set; }
        public int TotalVendas { get; set; }
        public decimal TotalDinheiro { get; set; }
    }

    public class LeilaoDetalhe
    {
        public string Nome { get; set; }
        public decimal ValorFinal { get; set; }
    }
}

