@using leiloes;
@model IEnumerable<leiloes.Models.Leilao>

<!-- VIEW PROVISÓRIA - SÓ PARA TESTAR -->

<h2>Lista de Leiloes</h2>



<table>
    <tr>
        <th>ID</th>
        <th>Licitacao Atual</th>
        <th>Valor de abertura </th>
        <th>Estado</th>
        <th>Data Inicial</th>
        <th>Data Final</th>
        <th>Criador Id</th>
        <th>Produto Id</th>
    </tr>

    @foreach (var leilao in Model)
    {
        <tr>
            <td>@leilao.IdLeilao</td>
            <td>@leilao.LicitacaoAtual</td>
            <td>@leilao.PrecoMinLicitacao</td>
            <td>@leilao.Estado</td>
            <td>@leilao.DataInicial</td>
            <td>@leilao.DataFinal</td>
            <td>@leilao.CriadorId</td>
            <td>@leilao.ProdutoId</td>
        </tr>
    }
</table>

