@model leiloes.Models.Produto

<!-- VIEW PROVISÓRIA - SÓ PARA TESTAR -->

@{
    ViewBag.Title = "Excluir Produto";
}

<h2>Excluir Produto</h2>

<h3>Tem certeza de que deseja excluir este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <!-- Outros campos do produto podem ser incluídos aqui -->

    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
